@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
}

h1,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.btn-1 {
  padding: 8px;
  border-radius: 8px;
  background-color: firebrick;
  color: white;
  font-size: 1.5rem;
  border: 3px solid maroon;

  &:hover {
    background-color: crimson;
  }
}

.btn-2 {
  padding: 2px 6px;
  border-radius: 8px;
  background-color: #10b981;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border: 2px solid #047857;

  &:hover {
    background-color: #51d6a1;
  }
}

.ui {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  background-color: #6ee7b7;
  width: 47.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #10b981;

  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #51d6a1;
  border-radius: 4px;
  border-left: 8px solid #10b981;
}

::-webkit-scrollbar-thumb {
  background: #047857;
  border-radius: 4px;
  border-left: 8px solid #10b981;
}
