@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

h1,
h4,
h6 {
  font-weight: bold;
  color: white;
}

h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}
