@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box-;
}

h1,
h4,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.btn-1 {
  padding: 4px;
  border-radius: 5px;
  background-color: crimson;
  color: white;
  font-size: 1.5rem;
}
